[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {version = "*", extras = ["standard"]}
pymongo = "==3.11"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
